body{
	background-color: #EFEFEF;
}

main {
	margin: auto;
	width: 90%;
}

a {
	cursor: pointer;
}

textarea:focus {
	outline: none;
}

table {
	width: 100%;
	table-layout: fixed;
}

.text-collapse {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.table>tbody>tr>th, .table>tbody>.park>td {
	vertical-align: middle;
}

.name {
	width: 20%;
	max-width: 25%;
}

.location {
	width: 25%;
	max-width: 25%;
}

.date_established {
	width: 7em;
	max-width: 7em;
	text-align: center;
}

.area_in_acres {
	width: 10%;
	max-width: 15%;
}

.description {
	width: 40%;
	max-width: 40%;
}

.add {
	width: 100%;
	background-color: transparent;
	border: none;
	resize: none;
	overflow: visible;
	padding: 8px;
}

#prev {
	float: left;
}

#next {
	float: right;
}

#add-row>td ~ td {
	padding: 0;
	overflow: hidden;
}

h1, th, #add-row>td:first-child {
	text-align: center;
}


tr:nth-child(even) {
	font-size: 14px;
	background-color: rgba(245, 245, 245, 0.37);

	
}

tr:nth-child(odd) {

	background-color: rgba(245, 245, 245, 0.51);
	font-size: 14px;
	
}
.tablez{
	border-radius: 50px;
}

.box{
	border-radius: 20px;
	padding: 20px;
	background-color: #B5E2E2;
}

h1{
	color: #9A9E6E;
	font-family: 'Quicksand';
}

table{
	color: #56554A;
	font-family: 'Quicksand';
}
